@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #292929;
  background: #f0f0f0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Projects - swiper custom styles */
#projects .swiper-button-prev,
#projects .swiper-button-next {
  color: rgb(219, 230, 57);
}
#projects .swiper-pagination-bullet-active {
  background-color: rgb(219, 230, 57);
}
